<div class="border-[--border-color]">
  <div class="py-2 px-4  mx-auto p-4 md:py-0 container flex justify-between items-center relative">
    <a href="/" class="max-w-[--logo-mobile-max-width] md:max-w-[--logo-max-width]">
       <img lazy-src="{{ section.settings.logo |  image_url }}" alt="{{ site.name }}" src="{{ '1x1.jpg' | asset_url }}"> 
    </a>
    <div class="header-drawer-menu z-10 md:hidden flex-col fixed left-0 top-0 h-full overflow-auto max-w-[300px] p-4 w-5/6  bg-white -translate-x-[100%] duration-300 md:static md:w-full md:flex-row md:max-w-full md:translate-x-0 md:overflow-initial md:justify-end md:items-center">  
      <div class="flex justify-between items-center py-3 border-b border-[--border-color] md:hidden">
        <a href="/" class="max-w-[--logo-mobile-max-width] md:max-w-[--logo-max-width]">
          <img lazy-src="{{ section.settings.logo |  image_url }}" alt="{{ site.name }}" src="{{ '1x1.jpg' | asset_url }}" >           
        </a> 
        <span class="close-button cursor-pointer transition-all hover:rotate-45">{%- render 'icon' with 'close' -%} </span>
      </div>
      <div class="flex flex-col">
        {% for link in section.settings.navigation.links -%} 
          <div class=" nav-item-mobile py-4 border-b border-[--border-color]"> 
              <div class="transition-all cursor-pointer flex items-center justify-between" >
                <span>{{ link.title }}  </span>  
              {% if link.links != blank %}  {%- render 'icon' with 'chevron-right' -%}  {% endif %}      
              </div>
              {% if link.links != blank %}
                <div class="menu-mobile-drawer flex flex-col z-40 fixed left-0 top-0 h-full overflow-auto max-w-[300px] p-4 w-full  bg-white -translate-x-[100%] duration-300 md:static md:w-full md:flex-row md:max-w-full 
                  md:translate-x-0 md:overflow-initial md:justify-end md:items-center">
                  <div class="sub-menu-1 flex-col transition-all pl-3">
                    <div class="mobile-menu-close cursor-pointer flex justify-center gap-6 items-center border-b border-[--border-color] group">
                      <span class=" transition-all group-hover:-translate-x-2">{%- render 'icon' with 'chevron-left' -%}</span>
                      <span class="uppercase">{{ link.title }} </span>
                     </div>                                
                      {% for child in link.links %}
                        <div class="sub-nav-item-mobile py-4 border-b border-[--border-color]"> 
                          <div class="flex justify-between items-center group cursor-pointer">
                            {% if child.links != blank %} <span>{{ child.title }}</span> {%  else %} <a href="{{ child.url }}">{{ child.title }}</a>{% endif %} 
                          {% if child.links != blank %} <span class="transition-all group-hover:rotate-180">{%- render 'icon' with 'chevron-bottom' -%}</span>  {% endif %} 
                          </div>                       
                          {% if child.links != blank %}                           
                              <div class="dropdown-menu grid">
                                <div class="flex flex-col overflow-hidden">
                                {% for sub-link in child.links %}
                                    <a href="{{ sub-link.url }}" class="py-4 h-9 last:underline hover:text-[--link-hover-color]">{{ sub-link.title }}</a>                           
                                {% endfor %}
                                </div>
                            </div>                            
                          {% endif %}
                        </div>
                      {%- endfor %}
                      {% for block in section.blocks %}
                        {% if block.settings.show_on_mobile %} 
                          {% if link.title == block.settings.link_name %}       
                            <div class="flex flex-col max-w-[250px]">  
                              <div class="hidden"> {{ block.settings.link_name }}</div>                        
                              <a href="{{ block.settings.box_link }}" class="flex flex-col items-center justify-center">                            
                                <img lazy-src="{{ block.settings.box_image |  image_url }}" alt="{{ site.name }}">
                                <span class="mt-3">{{ block.settings.title}}</span>
                              </a>
                            </div> 
                          {% endif %}                        
                        {% endif %}
                      {% endfor %}
                  </div>                 
                </div>
                <div class="menu-mobile-overlay w-full h-full fixed top-0 -left-[100%]  bg-gray-900/75 opacity-0 -translate-x-[100%] duration-300 "></div>
              {% endif %}                               
              </div>
        {%- endfor %}    
     </div>    
    </div>
    <div class="header-drawer-search z-10 md:hidden flex-col fixed left-0 top-0 h-full overflow-auto max-w-[300px] p-4 w-5/6  bg-white -translate-x-[100%] duration-300 md:static md:w-full md:flex-row md:max-w-full md:translate-x-0 md:overflow-initial md:justify-end md:items-center">  
      <div class="flex justify-between items-center py-3 border-b border-[--border-color] md:hidden">
        <a href="/" class="max-w-[--logo-mobile-max-width] md:max-w-[--logo-max-width]">
          <img lazy-src="{{ section.settings.logo |  image_url }}" alt="{{ site.name }}" src="{{ '1x1.jpg' | asset_url }}" >           
        </a> 
        <span class="close-button cursor-pointer transition-all hover:rotate-45">{%- render 'icon' with 'close' -%} </span>
      </div>
      <div class="flex gap-4 pt-4">
        <form action="/search" class="items-center md:hidden w-full">
        <input type="search" name="q" class="w-[88%] border-b border-[--border-color] focus:outline-none min-w-48 text-sm" placeholder="{{'search.place_holder' | t }}">
        <button type="submit">{%- render 'icon' with 'search' -%}</button>
      </form>
      </div>
      
    </div>
   
    <div class="desktop hidden md:flex">
      {% for link in section.settings.navigation.links -%} 
        <div class="hidden nav-item py-4 border-b border-[--border-color] md:border-none md:p-4 relative md:block"> 
           <a {% if link.links == blank %} href="{{ link.url  }}" {% endif %} class="relative transition-all cursor-pointer flex items-center gap-2 hover:text-[--link-hover-color]
             before:absolute before:z-20 before:w-full before:h-[2px] before:bg-[--primary-color] before:transition-all before:scale-x-0 before:bottom-0 before:left-0 hover:before:scale-x-100 group" 
             {% if link.links != blank %} data-menu= "nav-dropdown-{{ forloop.index }}" {% endif %} >{{ link.title }}
             {% if link.links != blank %} <span class="group-hover:rotate-180">{%- render 'icon' with 'chevron-bottom' -%}</span>   {% endif %}
           </a>           
        </div> 
                  
    {%- endfor %}
    </div>
       <div class="flex gap-4">
        <form action="/search" class="items-center hidden md:flex">
          <input type="search" name="q" class="border-b border-[--border-color] focus:outline-none min-w-48 text-xs" placeholder="{{'search.place_holder' | t }}">
          <button type="submit">{%- render 'icon' with 'search' -%}</button>
        </form>
        <button class="search md:hidden">
            {%- render 'icon' with 'search' -%}       
      </button>
        {% if section.settings.show_cart %}  
          <a href="/cart" class="relative">
          {%- render 'icon' with 'cart' -%}
          <span class="cart_count w-5 h-5 flex justify-center items-center rounded-full bg-[--primary-color] text-white text-[9px] absolute -top-2 -right-2">{{ cart.item_count }}</span></a>
      {% endif %}
      <button class="header-hamburger md:hidden">
                  {%- render 'icon' with 'hamburger' -%}       
          </button> 
           
       </div> 
       
     
 </div>
</div>
  
{% for link in section.settings.navigation.links -%}
  {% if link.links != blank %}
    <div class="nav-dropdown-{{ forloop.index }} nav-dropdown-desktop hover:opacity-100  w-full  md:flex gap-6 pl-4 absolute l-0 bg-white border-[--border-color]">
    <div class="dropdown-menu grid w-full "> 
    <div class="container mx-auto flex justify-center gap-10 overflow-hidden">
        {% for child in link.links %}
          <div class="py-10">
          <a href="{{ child.url }}" class="hover:text-[--link-hover-color] uppercase">{{ child.title }}</a>
            {% if child.links != blank %}
              <div class="flex flex-col gap-4 mt-4">
                {% for sub-link in child.links %}
                  <a href="{{ sub-link.url }}" class="hover:text-[--link-hover-color] last:underline">{{ sub-link.title }}</a>
                {% endfor %}
              </div>                            
            {% endif %}
          </div>         
      {% endfor %}
      {% for block in section.blocks %}
        {% if link.title == block.settings.link_name %}       
          <div class="flex flex-col max-w-[250px] pt-8">  
            <div class="hidden"> {{ block.settings.link_name }}</div>                        
            <a href="{{ block.settings.box_link }}" class="flex flex-col items-center justify-center underline">  
              <div class="h-[194px] overflow-hidden">
                <img src="{{ block.settings.box_image |  image_url }}" alt="{{ site.name }}"></div>                                        
              <span class="mt-3">{{ block.settings.title}}</span>
            </a>
          </div>                         
        {% endif %}
      {% endfor %}
      </div>       
    </div>
    </div>    
  {% endif %}
{%- endfor %}
  <div class="header-nav-overlay cursor-pointer w-full h-full fixed top-0 -left-[100%]  bg-gray-900/75 opacity-0 -translate-x-[100%] duration-300 "></div>

 

{%  schema  %} 
{
    "name":"Header",
    "class": "sticky top-0 border-b bg-white header z-30",  
     "tag": "header",
    "settings": [
        {
        "type": "checkbox",
        "id": "show_cart",
        "label": "Show cart",
        "default": true
      },
      {
        "type": "header",
        "content": "Logo"
     },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "280 x 80px .png recommended"  
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 40,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Logo with on desktop",
      "default": 140   
    },
    {
      "type": "range",
      "id": "logo_mobile_max_width",
      "min": 40,
      "max": 120,
      "step": 5,
      "unit": "px",
      "label": "Logo with on mobile",
      "default": 80   
    },
    {
        "type":"link_list", 
        "id":"navigation",
        "label" :"Navigation menu",
        "default": "main-menu"  
    }    
  ],
  "blocks": [
    {
      "type": "promotion-block",
      "name": "Promotion block",
      "settings": [
      {
          "type": "checkbox",
          "id": "show_on_mobile",
          "label": "Show on mobile"
        },
        {
          "type": "text",
          "id": "link_name",
          "label": "Link name",
          "info" : "Need to have same name with main menu item"
        },
        {
          "type": "image_picker",
          "id": "box_image",
          "label": "Image",
          "info": "280 x 80px .png recommended"  
        },
        {
          "type": "text",
          "id": "title",
          "label": "Box text"
        },
        {
          "type": "url",
          "id": "box_link",
          "label": "Box link"
        }
      ]
    }
  ]
}
 {% endschema %} 

 {%  style  %}
     :root {    
       --logo-max-width: {{ section.settings.logo_max_width }}px;
       --logo-mobile-max-width: {{ section.settings.logo_mobile_max_width }}px;
     }
{% endstyle %} 
  
<script>
/* Navigation  Mobile*/
const hamburger= document.querySelector('.header-hamburger');
const search = document.querySelector('.search');
const headerMenu = document.querySelector('.header-drawer-menu');
const headerSearch = document.querySelector('.header-drawer-search');
if (hamburger){
  hamburger.addEventListener('click',()=>{
    headerMenu.classList.toggle('drawer_active'); 
    headerMenu.closest('.header').querySelector('.header-nav-overlay').classList.add('drawer_active');    
  });
};

if (search){
  search.addEventListener('click',()=>{
    headerSearch.classList.toggle('drawer_active'); 
    headerSearch.closest('.header').querySelector('.header-nav-overlay').classList.add('drawer_active');    
  });
}

document.querySelectorAll('.header-nav-overlay, .close-button').forEach (button => {
  button.addEventListener('click', () => {
    document.querySelector('.header-drawer-menu').classList.remove('drawer_active');
    document.querySelector('.header-drawer-search').classList.remove('drawer_active');
    document.querySelector('.header-nav-overlay').classList.remove('drawer_active'); 
    document.querySelector('.nav-item-mobile').classList.remove('menu-mobile-drawer--active'); 
  })
});

/* Navigation  Desktop*/
document.querySelectorAll('.nav-item a').forEach( item => { 
  item.addEventListener('click',()=> {
    if (item.getAttribute('data-menu')){
      var key = item.getAttribute('data-menu');
      var header = item.closest('.header');
    }
     item.querySelector('svg').classList.toggle('rotate-180');
     header.querySelector(`.${key}`).classList.toggle('open');
     header.classList.add('z-30');
     header.classList.remove('z-10'); 
  }); 
})


document.querySelectorAll('.nav-item-mobile').forEach (nav => {
  nav.addEventListener('click', () => {
    nav.classList.add('menu-mobile-drawer--active');
  })
});

document.querySelector('.menu-mobile-drawer').addEventListener('click', (e)=> {
  e.stopPropagation();
})
document.querySelectorAll('.mobile-menu-close, .menu-mobile-overlay').forEach ( button => {
  button.addEventListener('click',()=>{
    button.closest('.nav-item-mobile').classList.remove('menu-mobile-drawer--active');
    console.log(button.closest('.nav-item-mobile'));
  })
})









</script>