<div class="section-id-{{ section.id }} py-[--section-top_bottom_padding]">
    <div class="container  mx-auto px-4 ">
        <img src="{{ article.image.src | image_url }}">
        <h1> {{ article.title }} </h1>
        <span class="circle-divider">{{ article.published_at | time_tag: format: 'date' }}</span>
        <div>{{ article.content }}</div>
       
    </div>
</div>