


<div class="section-id-{{ section.id }} md:py-[--section-top_bottom_padding]">
    <div class="container  mx-auto p-4 ">
        {% if section.settings.carousel_on_mobile %}
            <div class="overflow-auto max-w-[100rem] h-[--row_mobile_high] relative md:overflow-hidden scroll-smooth md:hidden">
                {% for block in section.blocks %}
                    <div class="absolute top-0 {% if section.settings.img_per-row-mobile == "1" %}w-[86%] {% else %} w-[46%]{% endif %} transition pr-3" style="transform: translateX({{ forloop.index | minus: 1 | times: 100  }}%);">
                        {% if block.settings.box_link %}
                            <a href="{{block.settings.box_link}}" class="relative h-[--row_mobile_high] md:h-[--row_desktop_high] md:first:grow-[3] md:basis-[34%] md:shrink-0 md:grow overflow-hidden">
                        {% endif %}                    
                        <div class="relative h-[--row_mobile_high] md:h-[--row_desktop_high] {% if section.settings.img_per-row-mobile == "1" %} basis-full {% else %}  basis-[47%] {% endif %} grow-0 shrink-0 md:grow overflow-hidden
                            {% if section.settings.img_per-row-desktop == 2 %} md:first:grow-[3] md:basis-[34%] {% elsif section.settings.img_per-row-desktop == 3 %} md:first:grow-[4] md:basis-[26%] {% else %}md:first:grow-[5] md:basis-[21%]{% endif %}">
                            <div class="absolute top-0 left-0 w-full h-full before:absolute  before:w-full before:h-full before:bg-black before:bottom-0 before:left-0 before:right-0 before:top-0 before:opacity-20">
                                {% if block.settings.box_image == blank %}
                                    {{- 'image' | placeholder_svg_tag: 'placeholder-svg h-full w-full absolute top-0 left-0' -}}
                                {% else %}  
                                <img lazy-src="{{ block.settings.box_image |  image_url }}" alt="{{ site.name }}" class="object-cover object-center w-full h-full" src="{{  '1x1.jpg' |  asset_url | width: '1x'}}">
                                {% endif %}   
                            </div>
                            <div class="absolute text-[--text_on_ovelay] top-0 left-0 w-full h-full flex flex-col text-{{ block.settings.text_align}} items-{{ block.settings.layout_align_vertical }} justify-{{ block.settings.layout_align_horizontal }} p-5">              
                                <h2 class="">{{ block.settings.title}}</h2>
                                <div class="underline">{{ block.settings.link_title }}</div>                
                            </div>
                        </div>
                        {% if block.settings.box_link %}
                            </a>
                        {% endif %}
                        </div>
                {% endfor %}    
            </div>
        {% endif %}

        <div class="{% if section.settings.show_space_between_img %} gap-4 md:gap-6{% endif %} flex flex-wrap {% if section.settings.carousel_on_mobile %} hidden{% endif %} md:flex">
        {% for block in section.blocks %}                
            {% if block.settings.box_link %}
                <a href="{{block.settings.box_link}}" class="media-item relative h-[--row_mobile_high] md:h-[--row_desktop_high] md:first:grow-[3] md:basis-[34%] md:shrink-0 md:grow overflow-hidden">
            {% endif %}        
            <div class="cursor-pointer group relative h-[--row_mobile_high] md:h-[--row_desktop_high] {% if section.settings.img_per-row-mobile == "1" %} basis-full {% else %}  basis-[47%] {% endif %} grow-0 shrink-0 md:grow overflow-hidden
                {% if section.settings.img_per-row-desktop == 2 %} md:first:grow-[3] md:basis-[34%] {% elsif section.settings.img_per-row-desktop == 3 %} md:first:grow-[4] md:basis-[26%] {% else %}md:first:grow-[5] md:basis-[21%]{% endif %}">
                <div class="media-item transition-all group-hover:scale-[1.06]  absolute top-0 left-0 w-full h-full after:absolute  after:w-full after:h-full after:bg-black after:bottom-0 after:left-0 after:right-0 after:top-0 after:opacity-20" {{ block.shopify_attributes }}>
                    {% if block.settings.box_image == blank %}
                        <div class="bg-[#f5f5f5] h-full">
                            {{- 'image' | placeholder_svg_tag: 'placeholder-svg h-full w-full absolute top-0 left-0' -}}
                        </div>
                    {% else %}  
                    <img lazy-src="{{ block.settings.box_image |  image_url }}" alt="{{ site.name }}" class="object-cover object-center w-full h-full" src="{{  '1x1.jpg' |  asset_url }}">
                    {% endif %}   
                </div>
                <div class="media-item absolute text-[--text_on_ovelay] top-0 left-0 w-full h-full flex flex-col text-{{ block.settings.text_align}} items-{{ block.settings.layout_align_vertical }} justify-{{ block.settings.layout_align_horizontal }} p-5">              
                    <h2 class="">{{ block.settings.title}}</h2>
                    <div class="underline">{{ block.settings.link_title }}</div>                
                </div>
            </div>
            {% if block.settings.box_link %}
                </a>
            {% endif %}
        {% endfor %}
        </div>   
        
    
    </div>
</div>
{%  schema  %}  
    {
        "name" :"Media grid",
        "class" :"section-media-grid py-4",
        "settings": [
            {
                "type": "select",
                "id": "img_per-row-mobile",
                "label": "Images per row - mobile",
                "options": [
                    {
                        "label": "1",
                        "value": "1"
                    },
                    {
                        "label": "2",
                        "value": "2"
                    }                           
                ],
                "default": "1"
            },
            {
                "type": "range",
                "id": "img_per-row-desktop",
                "min": 2,
                "max": 4,
                "step": 1,
                "label": "Max images per row - desktop",
                "default": 2   
                },
            {
                "type": "range",
                "id": "row_mobile_high",
                "min": 250,
                "max": 300,
                "step": 10,
                "unit": "px",
                "label": "Mobile image row heights",
                "default": 250   
            },
            {
                "type": "range",
                "id": "row_desktop_high",
                "min": 400,
                "max": 600,
                "step": 10,
                "unit": "px",
                "label": "Desktop image row heights",
                "default": 400  
            },
            {
                "type": "checkbox",
                "id": "show_space_between_img",
                "label": "Add spacing between images",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "carousel_on_mobile",
                "label": "Enable mobile carousel",
                "default": true
            }
        ],
        "blocks": [
            {
                "type": "media",
                "name": "Media",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "box_image",
                        "label": "Image",
                        "info": "280 x 80px .png recommended"  
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Box text",
                        "default": "Box title"
                    },
                    {
                        "type": "url",
                        "id": "box_link",
                        "label": "Box link"
                    },
                    {
                        "type": "text",
                        "id": "link_title",
                        "label": "Box link name",
                        "default": "View Collection"
                    },
                    {
                        "type": "select",
                        "id": "layout_align_horizontal",
                        "label": "Horizontal Layout",
                        "options": [
                            {
                                "label": "Center",
                                "value": "center"
                            },
                            {
                                "label": "Right",
                                "value": "end"
                            },
                            {
                                "label": "Left",
                                "value": "start"
                            }                           
                        ],
                        "default": "end"
                    },
                    {
                        "type": "select",
                        "id": "layout_align_vertical",
                        "label": "Vertical Layout",
                        "options": [
                            {
                                "label": "Center",
                                "value": "center"
                            },
                            {
                                "label": "Bottom",
                                "value": "end"
                            },
                            {
                            "label": "Top",
                            "value": "start"
                            }                           
                        ],
                        "default": "end"
                    },
                    {
                        "type": "select",
                        "id": "text_align",
                        "label": "Text alignment",
                        "options": [
                            {
                                "label": "Center",
                                "value": "center"
                            },
                            {
                                "label": "Right",
                                "value": "right"
                            },
                            {
                            "label": "Left",
                            "value": "left"
                            }                           
                        ],
                        "default": "left"
                    }
                ]
            }
    ],
    "presets": [
        {
            "name":"Media grid",
            "settings": {
                "img_per-row-desktop":3,
                "row_desktop_high": 420
            },
            "blocks": [
                {
                    "type": "media"               
                },
                {
                    "type": "media"
                },
                {
                    "type": "media"
                },
                {
                    "type": "media"                
                },
                {
                    "type": "media"                 
                }
            ]           
        }
]
}
{%  endschema  %}  

{%  style  %}
    :root {    
     --row_mobile_high: {{ section.settings.row_mobile_high }}px;
     --row_desktop_high: {{ section.settings.row_desktop_high }}px;
    }
{% endstyle %} 